/**
 * System requirement and setup notes.
 * 
 *
 * @package concerto.docs
 * 
 * @copyright Copyright &copy; 2005, Middlebury College
 * @license http://www.gnu.org/copyleft/gpl.html GNU General Public License (GPL)
 *
 * @version $Id$
 */

"MySQL server has gone away" Errors:
If Concerto stores its files in a MySQL database, then the 
	max_allowed_packet
option on the server needs to be raised above its default limit of 1MB.
Note that Concerto base64 encodes file data to make it binary-safe, at the expense
of a ~33% increase in storage size.