<?
// :: Version: $Id$


// :: set up the $harmoni object :: 
	$harmoni->config->set("useAuthentication",true);
	$harmoni->config->set("defaultModule","home");
	$harmoni->config->set("defaultAction","welcome");
	$harmoni->config->set("charset","utf-8");
	$harmoni->config->set("outputHTML",true);
	$harmoni->config->set("sessionName","PHPSESSID");
	$harmoni->config->set("sessionUseCookies",true);
	$harmoni->config->set("sessionCookiePath","/");
	$harmoni->config->set("sessionCookieDomain","middlebury.edu");

// :: setup the ActionHandler ::
	function callback_action(&$harmoni) {
		return $harmoni->pathInfoParts[0] . "." . $harmoni->pathInfoParts[1];
	}
	$harmoni->setActionCallbackFunction( "callback_action" );
	$harmoni->ActionHandler->addActionSource(	
				new FlatFileActionSource(realpath(MYDIR."/main/modules"), 
										 ".act.php"));
	$harmoni->ActionHandler->addActionSource(	
				new FlatFileActionSource(realpath(POLYPHONY."/main/modules"), 
										 ".act.php"));
	

// :: Set up the database connection ::
	$dbHandler=&Services::requireService("DBHandler");
	$dbID = $dbHandler->addDatabase( new MySQLDatabase("localhost","adam_concerto","test","test") );
	$dbHandler->pConnect($dbID);
	unset($dbHandler); // done with that for now

// :: Set up the SharedManager as this is required for the ID service ::
	Services::startService("Shared", $dbID, "adam_concerto");


// :: Set up the Authentication and Login Handlers ::
	$harmoni->LoginHandler->setFailedLoginAction("auth.fail_redirect");
	$harmoni->LoginHandler->addNoAuthActions("auth.logout",
											"auth.fail",
											"auth.login",
											"language.change",
											"window.screen",
											"home.welcome",
											"collections.main",
											"collections.namebrowse",
											"collections.typebrowse"
											);
	
	//printpre($GLOBALS);
	
	Services::startService("AuthN", $dbID,"adam_concerto");
	
	#########################
	# HANDLE AUTHENTICATION #
	# A) authenticated      #
	# B) not authenticated  #
	# C) attempting log in  #
	#########################
	
	Services::startService("Authentication");
	Services::startService("DBHandler");
	
	// :: get all the services we need ::
	$authHandler =& Services::getService("Authentication");
	
	// :: set up the DBAuthenticationMethod options ::
	$options =& new DBMethodOptions;
	$options->set("databaseIndex",$dbID);
	$options->set("tableName", "adam_concerto.auth_db_user");
	$options->set("usernameField", "username");
	$options->set("passwordField", "password");
	$options->set("passwordFieldEncrypted", TRUE);
	$options->set("passwordFieldEncryptionType", "databaseMD5");
	
	// :: create the DBAuthenticationMethod with the above options ::
	$dbAuthMethod =& new DBAuthenticationMethod($options);
	
	// :: add it to the handler ::
	$authHandler->addMethod("dbAuth",0,$dbAuthMethod);


// :: Layout and Theme Setup ::
	Services::registerService("Themes", "ThemeHandler");
	Services::startService("Themes");
	$harmoni->setTheme(new SimpleLinesTheme);


// :: Set up language directories ::
	Services::startService('Lang');
	$langLoc =& Services::getService ('Lang');
	$langLoc->addApplication('concerto', MYDIR.'/main/languages');
	$langLoc->addApplication('polyphony', POLYPHONY.'/main/languages');
//	$langLoc->setLanguage("es_ES");
//	$langLoc->setLanguage("en_US");
//	$languages =& $langLoc->getLanguages();
//  printpre($languages);


// :: Set up the DataManager ::
	HarmoniDataManager::setup($dbID);

// :: Set up the Hierarchy Manager ::
	Services::startService("Hierarchy", $dbID, "adam_concerto");

// :: Set up the DigitalRepositoryManager ::
	$configuration = array(
		"hierarchyId" => "673",
		"versionControlAll" => TRUE
	);
	
	Services::startService("DR", $configuration);