<?
// :: Version: $Id$

require_once(HARMONI."/oki2/shared/ConfigurationProperties.class.php");
require_once(OKI2."/osid/OsidContext.php");


// :: set up the $harmoni object :: 
	$harmoni->config->set("useAuthentication",false);
	$harmoni->config->set("defaultModule","home");
	$harmoni->config->set("defaultAction","welcome");
	$harmoni->config->set("charset","utf-8");
	$harmoni->config->set("outputHTML",true);
	$harmoni->config->set("sessionName","PHPSESSID");
	$harmoni->config->set("sessionUseCookies",true);
	$harmoni->config->set("sessionCookiePath","/");
	$harmoni->config->set("sessionCookieDomain","middlebury.edu");
	
	$context =& new OsidContext;
	$context->assignContext('harmoni', $harmoni);


// :: setup the ActionHandler ::
	function callback_action(&$harmoni) {
		return $harmoni->pathInfoParts[0] . "." . $harmoni->pathInfoParts[1];
	}
	$harmoni->setActionCallbackFunction( "callback_action" );
	$harmoni->ActionHandler->addActionSource(	
				new FlatFileActionSource(realpath(MYDIR."/main/modules"), 
										 ".act.php"));
	$harmoni->ActionHandler->addActionSource(	
				new FlatFileActionSource(realpath(POLYPHONY."/main/modules"), 
										 ".act.php"));
	

// :: Set up the database connection ::
	$dbHandler=&Services::requireService("DBHandler");
	$dbName = "adam_concerto";
	$dbID = $dbHandler->addDatabase( new MySQLDatabase("localhost", $dbName,"test","test") );
	$dbHandler->pConnect($dbID);
	unset($dbHandler); // done with that for now


// :: Set up the IdManager as this is required for the ID service ::
	$configuration =& new ConfigurationProperties;
	$configuration->addProperty('database_index', $dbID);
	$configuration->addProperty('database_name', $dbName);
	Services::startManagerAsService("IdManager", $context, $configuration);
	
	
// :: Set up the AgentManager ::
	$configuration =& new ConfigurationProperties;
	$configuration->addProperty('database_index', $dbID);
	$configuration->addProperty('database_name', $dbName);
	Services::startManagerAsService("AgentManager", $context, $configuration);


// :: Start the AuthenticationManager OSID Impl.
	$configuration =& new ConfigurationProperties;
	$tokenCollectors = array(
//		serialize(new Type ("Authentication", "Middlebury College", "Concerto DB")) 
//			=> new BasicFormNamePassTokenCollector,
		serialize(new Type ("Authentication", "Middlebury College", "Concerto DB")) 
			=> new FormActionNamePassTokenCollector(MYURL."/auth/username_password_form/".implode("/",$harmoni->pathInfoParts)),
	);
	$configuration->addProperty('token_collectors', $tokenCollectors);
	Services::startManagerAsService("AuthenticationManager", $context, $configuration);


// :: Start and configure the AuthenticationMethodManager
	$configuration =& new ConfigurationProperties;
	
		// set up a Database Authentication Method
		require_once(HARMONI."/oki2/agentmanagement/AuthNMethods/SQLDatabaseAuthNMethod.class.php");
		require_once(HARMONI."/oki2/agentmanagement/AuthNMethods/SQLDatabaseMD5UsernamePasswordAuthNTokens.class.php");
		$dbAuthType =& new Type ("Authentication", "Middlebury College", "Concerto DB");
		$dbMethodConfiguration =& new ConfigurationProperties;
		$dbMethodConfiguration->addProperty('tokens_class', $arg0 = 'SQLDatabaseMD5UsernamePasswordAuthNTokens');
		$dbMethodConfiguration->addProperty('database_id', $dbID);
		$dbMethodConfiguration->addProperty('authentication_table', $arg2 = 'auth_db_user');
		$dbMethodConfiguration->addProperty('username_field', $arg3 = 'username');
		$dbMethodConfiguration->addProperty('password_field', $arg4 = 'password');
		$propertiesFields = array(
			'username' => 'username',
			'name'=> 'display_name',
		);
		$dbMethodConfiguration->addProperty('properties_fields', $propertiesFields);
		
		$dbAuthNMethod =& new SQLDatabaseAuthNMethod;
		$dbAuthNMethod->assignConfiguration($dbMethodConfiguration);
		unset($arg0, $arg1, $arg2, $arg3, $arg4, $propertiesFields, $dbMethodConfiguration);
		
	$configuration->addProperty($dbAuthType, $dbAuthNMethod);
		
		// set up LDAPAuthentication Method
		require_once(HARMONI."/oki2/agentmanagement/AuthNMethods/LDAPAuthNMethod.class.php");
		require_once(HARMONI."/oki2/agentmanagement/AuthNMethods/LDAPAuthNTokens.class.php");	
		$ldapAuthType =& new Type ("Authentication", "Middlebury College", "Middlebury LDAP");
		$ldapConfiguration =& new ConfigurationProperties;
		$ldapConfiguration->addProperty('tokens_class', $arg0 = 'LDAPAuthNTokens');
		$ldapConfiguration->addProperty("LDAPHost", $arg1 = "ad.middlebury.edu");
		$ldapConfiguration->addProperty("baseDN", $arg2 = "cn=users,dc=middlebury,dc=edu");
		$ldapConfiguration->addProperty("bindDN", $arg3 = "juser");
		$ldapConfiguration->addProperty("bindDNPassword", $arg4 = "poi987");
		$propertiesFields = array (
			'username' => 'samaccountname',
			'name' =>  'displayname',
			'first name' =>  'givenname',
			'last name' =>  'sn',
			'department' =>  'department',
			'email' =>  'mail',
		);
		$ldapConfiguration->addProperty('properties_fields', $propertiesFields);
		$loginFields = array (
			'samaccountname', 
			'mail',
			'cn',
		);
		$ldapConfiguration->addProperty('login_fields', $loginFields);
		
		$ldapAuthNMethod =& new LDAPAuthNMethod;
		$ldapAuthNMethod->assignConfiguration($ldapConfiguration);
		unset($arg0, $arg1, $arg2, $arg3, $arg4, $propertiesFields, $loginFields, $ldapConfiguration);
		
	$configuration->addProperty($ldapAuthType, $ldapAuthNMethod);
	
	Services::startManagerAsService("AuthNMethodManager", $context, $configuration);
	
	
// :: Agent-Token Mapping Manager ::	
	$configuration =& new ConfigurationProperties;
	$configuration->addProperty('database_id', $dbID);
	Services::startManagerAsService("AgentTokenMappingManager", $context, $configuration);


// :: Layout and Theme Setup ::
	Services::registerService("Themes", "ThemeHandler");
	Services::startService("Themes");
	$harmoni->setTheme(new SimpleLinesTheme);


// :: Set up language directories ::
	Services::startService('Lang');
	$langLoc =& Services::getService ('Lang');
	$langLoc->addApplication('concerto', MYDIR.'/main/languages');
	$langLoc->addApplication('polyphony', POLYPHONY.'/main/languages');
//	$langLoc->setLanguage("es_ES");
//	$langLoc->setLanguage("en_US");
//	$languages =& $langLoc->getLanguages();
//  printpre($languages);


// :: Set up the DataManager ::
	DataManager::setup($dbID);


// :: Set up the Hierarchy Manager ::
	$configuration =& new ConfigurationProperties;
	$configuration->addProperty('database_index', $dbID);
	$configuration->addProperty('database_name', $dbName);
	Services::startManagerAsService("HierarchyManager", $context, $configuration);


// :: Set up the RepositoryManager ::
	$defaultParentId = "301";	
	$configuration =& new ConfigurationProperties;
	$configuration->addProperty('database_index', $dbID);
	$configuration->addProperty('hierarchy_id', $arg0 = "673");
	$configuration->addProperty('default_parent_id', $defaultParentId);
	$configuration->addProperty('version_control_all', $arg2 = TRUE);
	$configuration->addProperty('use_filesystem_for_files', $arg3 = TRUE);
	$configuration->addProperty('file_data_path', $arg4 = "/www/afranco/concerto_data");
	Services::startManagerAsService("RepositoryManager", $context, $configuration);
	unset($arg0, $arg1, $arg2, $arg3, $arg4);
	
/************************************************************************
 * To convert from database Storage of files to filesystem storage,
 * set all of the configuration needed for both except the switch for which
 * system to use. Keep that at its original value. Then uncomment the following
 * lines and set the values to the desired ones.
 */
//  	$idManager =& Services::getService("Id");
//  	$repositoryManagaer =& Services::getService("Repository");
//  	
// 	$destinationRecordClass = "FileSystemFileRecord";
// 	$recordStructureOfBothRecords =& $idManager->getId("FILE");
// 	
// 	$repositoriesToConvert =& $repositoryManagaer->getRepositories();
// 	while ($repositoriesToConvert->hasNextRepository()) {
// 		$repository =& $repositoriesToConvert->nextRepository();
// 		
// 		$repositoryId =& $repository->getId();
// 		print "\n<br/>Converting Repository: ".$repositoryId->getIdString();
// 		
// 		$repository->convertRecords($recordStructureOfBothRecords, $destinationRecordClass);
// 	}
/************************************************************************/


// :: Set up the Authorization System ::
	$configuration =& new ConfigurationProperties;
	$configuration->addProperty('database_index', $dbID);
	$configuration->addProperty('database_name', $dbName);
	Services::startManagerAsService("AuthorizationManager", $context, $configuration);


// :: Set up the Sets Manager ::
	$configuration =& new ConfigurationProperties;
	$configuration->addProperty('database_index', $dbID);
	Services::startManagerAsService("SetManager", $context, $configuration);

	
// :: Set up the MIME service for sniffing mime types ::
	$configuration =& new ConfigurationProperties;
	Services::startManagerAsService("MIMEManager", $context, $configuration);

	
// :: Set up the ImageProcessor service for generating thumbnails ::
	$configuration =& new ConfigurationProperties;
	$configuration->addProperty('thumbnail_format', $arg0 = "image/jpeg");
	
	Services::startService("ImageProcessor",
							"image/jpeg",		// thumbnail format
					
					//  ------ GD options ------		
							FALSE,				// use GD libraries
							array(),			// GD Formats
				
					//  ------ ImageMagick options ------
							TRUE,				// Use ImageMagick
							"/usr/X11R6/bin",	// ImageMagick path
							"/tmp"				// ImageMagick temp dir
	);


// ::Specify some Ids for concerto ::
	if (!is_array($_SESSION['concerto_config'])) {
		$_SESSION['concerto_config'] = array();
		$idManager =& Services::getService("Id");
		$_SESSION['concerto_config']['media_file_structure_id'] = $idManager->getId("1097");
		$_SESSION['concerto_config']['thumbnail_part_id'] = $idManager->getId("1104");
	}

/*********************************************************
 * View/Use AZs
 *********************************************************/
// Can this qualifier and its children be accessed?
define("AZ_ACCESS", '331');

// Can a qualifier be viewed?
define("AZ_VIEW", '178');

// Can a qualifier be commented on?
define("AZ_COMMENT", '179');

/*********************************************************
 * Editing AZs
 *********************************************************/
// Can a qualifier be edited?
define("AZ_EDIT", '175');

// Can a qualifier be deleted?
define("AZ_DELETE", '177');

// Can a a child be added to this qualifier?
define("AZ_ADD_CHILDREN", '176');

/*********************************************************
 * Administration AZs
 *********************************************************/
 // Can the AZs of a qualifier be viewed?
define("AZ_VIEW_AZS", '292');

 // Can the AZs of a qualifier be modified?
define("AZ_MODIFY_AZS", '293');

 // Can agents be created here?
define("AZ_CREATE_AGENTS", '294');

 // Can agent properties be modified here?
define("AZ_MODIFY_AGENTS", '295');

 // Can agents be deleted here?
define("AZ_DELETE_AGENTS", '296');

 // Can groups be created here?
define("AZ_CREATE_GROUPS", '297');

 // Can groups properties be modified here?
define("AZ_MODIFY_GROUPS", '298');

 // Can groups be deleted here?
define("AZ_DELETE_GROUPS", '299');

/*********************************************************
 * Hierarchy Ids
 *********************************************************/
 // Digital Repository Id
 define("REPOSITORY_NODE_ID", $defaultParentId);
 
//  
// $agentManager =& Services::getService("Agent");
// $idManager =& Services::getService("Id");
// $agentManager->deleteGroup($idManager->getId("410"));
// $groupType =& new Type ("System", "Concerto", "SystemGroups", "Groups for administrators and others with special privledges.");
// $nullType =& new Type ("System", "Concerto", "NULL");
// $properties =& new HarmoniProperties($nullType);
// $agentManager->createGroup("Auditors", $groupType, "Users that can view all content in the system but not modify it.", $properties);

// print "<pre>";
// print_r($_SESSION);
// print "</pre>";
